grid {
    padding: 16;
}

StackLayout {
    padding: 16;
}

label {
    color: black;
}

    label.Information {
        color: crimson;
    }

    label.Title {
        font-size: large;
        padding: 20,0,0,0;
    }
